*{
  margin: 0;
  text-decoration: none;
  overflow-x: hidden;
  overflow-y: hidden;
  
}





.blob_animation{
  position: center ;
  animation: shrink 1s forwards;
}

@keyframes shrink {
  50% {
    scale: 1;
  }


  100% {
    scale: 0;
  }
}


 
#float1 {
  opacity: 0;
  transition: opacity 1s; 
  
}

#float1.fade {
  opacity: 1;
  animation: float 8s;
  animation-iteration-count: infinite;
}

@keyframes float{
  25% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(+20px);
  }


  75% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }

}

#float2 {
  opacity: 0;
  transition: opacity 1s; 
}

#float2.fade {
  opacity: 1;
  animation: float 8s;
  animation-iteration-count: infinite;
}



@keyframes float2{
  25% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(+20px);
  }


  75% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
    
  }

}