* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    cursor: url('/img/tree.gif')

  }
  
  .description {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description{
    color: green;
  }
  .game {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ui-level {
    font-size: 4rem;
    padding-top: 2rem;
  }
  .ui-message {
    font-size: 2rem;
  }
  
  .level-two {
    display: none;
  }
  .next-button {
    padding: 1rem 3rem;
    background: rgb(24, 114, 174);
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }
  .spooky-picture {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
  .spooky-picture{
      position: fixed;
      top: 0;
      left: 0;
      object-fit:cover;
      display: none;
  }
  #green{
    max-width:146px;
    position: relative;
    left:270px;
    bottom: 154px;

  }
  /* #can{
    position: relative;
    left: 300px;
  } */

  .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}
