* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    cursor: none;
  }
  
  body {
    background: #74ebd5;
    background: -webkit-linear-gradient(
        to top, 
        #0d0d0e,
        #053b70
    );
    background: linear-gradient(to right, #57c457b4,#77ce31);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
  }
  
  .container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  #gen-img {
    max-width: 120px;
    position: relative;
    left: 10px;
}
  button {
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    padding: 15px 45px;
    font-size: 1.1rem;
    margin-top: 3em;
    outline: none;
    cursor: none;
  }
  
  .bloodSpot {
    position: absolute;
    height: 50px;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .trash{
    height: 100px;
  }
  .circle {
    height: 100px;
  }
  
  img::selection {
    background: transparent;
  }
  
  .cursor {
    position: absolute;
    height: 70px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 2;
    transition: 0.3s transform ease;
    transform-origin: 100% 100%;
  }
